.App {
  width: 90vw;
  margin: auto;
  color: #4b6a9b;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

input {
  width: calc(100% - 2rem);
  height: 40px;
  padding: 1.2rem;
  background: #fefefe;
  border: none;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
}

form {
  position: relative;
}

form button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 80%;
  padding: 1rem;
}

.userContainer {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  padding: 2rem;
  margin-top: 2rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 15vh;
}

.userInfo > p,
h6,
h3 {
  margin: 0;
  padding: 0.3rem 0;
}

.userInfo p {
  color: #697c9a;
  font-size: 0.8em;
}

.userInfo h6 {
  color: #0079ff;
}

.top img {
  border-radius: 50%;
  width: 20vw;
  height: auto;
}

.statbox {
  background: #f6f8ff;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#number {
  font-weight: bold;
  color: #2b3442;
  text-align: center;
  margin-top: -0.8rem;
}

.randomInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
  margin-top: 1rem;
}

.icon {
  width: 4vw;
  padding-right: 1rem;
}

button {
  background: #0079ff;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

#modeToggle {
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
