@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  background-color: #F6F8FF;
  font-family: 'Space Mono', monospace;
  color: #4B6A9B;
  
}

button {
  background: #0079FF;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

input {
  border: none;
}

.App {
  width: 90vw;
  margin: auto;
  color: #4B6A9B;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


input {
  width: calc(100% - 2rem);
  height: 40px;
  padding: 1.2rem;
  background: #FEFEFE;
box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
border-radius: 15px;
  
}

form {
  position: relative;
  
}

form button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 80%;
  padding: 1rem;
  
}

.userContainer {
  display: flex;
  flex-direction: column;
  background-color: #FEFEFE;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
border-radius: 15px;
padding: 2rem;
margin-top: 2rem;

}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 15vh;
 
}

.userInfo > p, h6, h3 {
  margin: 0;
  padding: .3rem 0;
}

.userInfo p {
  color:#697C9A;
  font-size: .8em;

}

.userInfo h6 {
  color: #0079FF;
}

.top img {
  border-radius: 50%;
  width: 20vw;
  height: auto;
}

.statbox {
  background: #F6F8FF;
border-radius: 10px;
display: flex;
justify-content: space-evenly;
align-items: center;
}

#number {
  font-weight: bold;
  color: #2B3442;
  text-align: center;
  margin-top: -.8rem;
}

.randomInfo {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 height: 20vh;
 margin-top: 1rem;

}

.icon {
  width: 4vw;
  padding-right: 1rem;
}