@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f8ff;
  font-family: "Space Mono", monospace;
  color: #4b6a9b;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #141D2F;
    font-family: "Space Mono", monospace;
    color: #ffff;
    }

}